.auth {
  height: inherit;
  width: inherit;
  /* padding-top: 20%; */
  position: relative;
 

}

.auth__main {
  /* padding: 10rem 0; */
  display: flex;
  flex-wrap: wrap;
  width: inherit; 
  padding: 20% 0;
}

.auth__main-left {
  margin: 0;
  padding: 1rem;
  /* width: 100%; */
  color: #8a8e9d;
  text-align: justify;
  /* margin: 50% auto; */
}
.auth__main-left > img {
  width: 15rem;
  
}



.auth__main-left p {
  margin: 0.5rem;
  font-size: .8rem;
}

.auth__main-right {
  width: 90%;
  margin: 2rem auto;
}

.modalWrapper {
  /* height: 100%; */
  /* background-color: aqua; */
  width: fit-content;
}

.signupModalForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem 1rem;
  align-items: center;
  height: 80%;
  overflow-y: scroll;
  /* width: 25rem; */
}

.signupModalForm .signupTextfield {
  width: 100%;
}

@media only screen and (min-width: 854px) {
  .auth {
    height: inherit;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    
  }

  .auth__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13rem;
  }

  .auth__main-left {
    /* margin: 3rem; */
    width: 40%;
    color: #8a8e9d;
  }

  .auth__main-left p {
    margin: 2rem 0.5rem;
    font-size: 1.5rem;
  }

  .auth__main-right {
    width: 25rem;
    background-color: #f5f5f5;
  }
  .auth__footer {
    display: flex;
    justify-content: space-between;
    color: #f5f5f5;
    height: 3rem;
    background-color: black;
    padding: 0.5rem 2rem;
  }

  /* signup sytle  */

  .signupModalForm {
    /* background-color: #f5f5f5; */
    /* background-color: red; */
    /* display: flex; */
    padding: 2rem;
    /* width: fit-content; */
    /* align-items: center; */
    position: absolute;
    /* top: 10%; */
    /* right: 50%; */
    /* transform: "translate(-50%,-50%)";  */
    border: 2px solid #000;
    box-shadow: 24;
    /* height: 60%; */
    overflow-y: scroll;
    /* display: flex; */
    width: 50rem;
  }

  .signupModalForm .signupTextfield{
        width: 20rem!important;
      }

  .modalWrapper {
    /* height: 100vh;
    width: fit-content;
    background-color: aqua;
    width: 40rem;
    position: relative; */
  }

  /* .formmm{
    display: flex!important;
  } */


}
