.comment{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.comment_details{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.description{
    margin: 0 .5rem;
    flex: 1;
    text-align: left;
}

.description  p{
   /* margin-right: .5rem; */
   text-align: left;
}

.action{
    width: 25%;
    text-align: left;
}
