.completeRegistration{
    padding: 1.5rem;
    background-color: white;
    width: fit-content;
    /* z-index: 99; */
}

.completeRegistration__form{
    margin-top: 1rem;
}

.profile_pic{
    display: flex;
    justify-content: space-around;
}

.profile_pic_preview{
    border: 1px solid gray;
    width: 5rem;
    height: 5rem;
}
.profile_pic_preview img{
    width: inherit;
    height: inherit;

}


@media only screen and (min-width: 713px) {
    .completeRegistration{
        padding: 1.5rem;
        background-color: white;
        z-index: 99;
        width: 30%;
        margin: auto;
        height: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}