.confirmEmail{
    width: 100%;
    height: 100%;
}

.confirmEmail__form{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 1rem;
}

@media only screen and (min-width: 713px) {
    .confirmEmail{
        padding-top: 5rem;
        width: 30%;
        margin: auto;
    }
    .confirmEmail__form{
        margin: auto;
        width: 100%;
        height: fit-content;
        padding: 1rem;
        /* background-color: aqua */
    }
}