.resetPassword{
    width: 95%;
    margin: .5rem;
    background-color: white;
    position: absolute;
    top: 30%;
}

.resetPassword__form{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 1rem;
}

.setPasswordTextField{
    width: 90%;
}

@media only screen and (min-width: 713px) {
    .resetPassword{
       position: absolute;
       left: 40%;
       top: 30%;
       height: fit-content;
        width: 30%;
        margin: auto;
        background-color: white;
        border-radius: 1rem;
    }
    .resetPassword__form{
        margin: auto;
        width: 80%;
        height: fit-content;
        padding: 1rem;
        /* background-color: aqua */
    }
}