.confirmEmail{
    width: 100w;
    height: 100vh;
}

.confirmEmail__form{
    margin: auto;
    width: 80%;
    height: fit-content;
    padding: 1rem;
}

@media only screen and (min-width: 600px) {
    
}