.details{
    margin-top: 3rem;
    padding: 1rem;
    /* background-color: aqua; */
}

@media only screen and (min-width: 713px) {
    .details{
        margin-top: 3rem;
        /* padding: 1rem; */
        padding: 2rem 1rem;
    }
}