.mainApp{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* height: 100vh; */
   
}

.mainApp__midSection-wrapper{
    padding: 1rem;  
}

.mainApp_midSection_addContainer{
    display: none;
}

.openShare{
    display:inline;
    z-index: 99;
}

/* .mainApp_shareAddBtn{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
} */

.ProfileSection{
    visibility: hidden;
}

footer{
    visibility: hidden;
}





@media only screen and (min-width: 713px) {
    .mainApp{
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
      
        height: 100vh;
       
    }

    .mainApp__midSection{ 
        /* flex: 1;  */
        display: flex;
        justify-content: space-evenly;
        width: inherit;
        /* align-items: center; */
    }

    .add_exp_form{
        width: inherit;
        /* background-color: blueviolet; */
    }
    .display{
    display: inline;
    }

    .mainApp_shareAddBtn{
        display: none;     
    }


    .ProfileSection{
        margin-top: 1rem;
        visibility: visible;
        width: 20%;
        border-left: 1px solid #ffff ;
    }
    
    footer{
        visibility: visible;
    }
    
}